.main-grid {
  display: grid;
  grid-template-columns: 1fr 80%;
  margin: 1em;
  grid-gap: 1em;
}

@media screen and (max-width: 700px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
