.filter {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 0.5em;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.filter-card {
  margin: auto auto;
  width: 90%;
  padding: 1em;

}

.selected {
  background-color: green;
}
p{
  text-align: center;
}
hr {
  width: 80%;
  margin: auto;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  padding-top: 1em;
  margin: auto;
}

button {
  width: 5rem;
  border-radius: 0.4rem;
  background-color: #d2f6b4;
  padding: 0.2em;
}

button:hover {
  background-color: rgb(73, 211, 73);
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .filter {
    position: fixed;
  }
}
