.filter{
    background-color: white;
    border-radius: 0.5em;
    padding-left: 1em;
    height: 35rem;
    margin: 1rem;
}
p{
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
}

button{
    width: 5rem;
    border-radius: 0.3rem;
    background-color: #4CAF50;
}
button:active{
    background-color: lime;
}