.filter {
  background-color: white;
  border-radius: 0.5em;
  /* padding-left: 1em; */
  height: 40rem;
  margin: auto;
  
    width: 15rem;
  
}
*{
    box-sizing: border-box;
}
.filter-card{
    margin: auto auto;
    width: 90%;
    /* height: 90%; */
}
.selected{
  background-color: green;
}
hr{

    width: 80%;
    margin: auto;
}
.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  padding-top: 1em ;
}

button {
  width: 5rem;
  border-radius: 0.3rem;
  background-color: #d2f6b4;
  padding: 0.2em;
}

button:hover {
  background-color: rgb(73, 211, 73);
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    .filter{
        position:fixed;
    }
}