
<div class="card">
  <div class="card-image">
    <img src={{item.links.mission_patch_small}} alt="mission image">
  </div>
  <div class="container">
    <h4><b>{{item.mission_name}}#{{item.flight_number}}</b></h4>
    <p><b>Mission Ids:</b></p>
    <ul *ngFor="let id of item.mission_id">
      <li>{{id}}</li>
    </ul>
    <p><b>Launch Year:</b>
    {{item.launch_year}}</p>
    <p><b>Successful Launch: </b>{{item.launch_success }}</p>
    <p><b>Successful Landing: </b>{{item.rocket.first_stage.cores[0].land_success}}</p>
  </div>
</div>
